In [1]:
import pandas as pd

In [5]:
%pwd

'C:\\Users\\pomel\\Documents\\Ch5)Pandas_Store_Analysis_chicken'

In [8]:
file = './2018년 전국 상가업소 업력현황.xlsx'
raw = pd.read_excel(file)

In [9]:
raw.head()

    광역시도  시군구     업종대분류         업종중분류  1년미만  1~2년  2~3년  3~5년  5년 이상
0  서울특별시  종로구  관광/여가/오락      연극/영화/극장   1.0   2.0  42.0  39.0   16.0
1  서울특별시  종로구  관광/여가/오락         전시/관람   0.0   6.0  18.0  35.0   44.0
2  서울특별시  종로구  관광/여가/오락  PC/오락/당구/볼링등   0.0   5.0  12.0  86.0   20.0
3  서울특별시  종로구  관광/여가/오락    경마/경륜/성인오락   0.0   1.0   1.0   1.0    2.0
4  서울특별시  종로구  관광/여가/오락        스포츠/운동   0.0   0.0   1.0   0.0    0.0

In [11]:
raw.tail(1)

          광역시도   시군구  업종대분류   업종중분류  1년미만  1~2년  2~3년  3~5년  5년 이상
20624  제주특별자치도  서귀포시  학문/교육  특수교육기관   0.0   1.0   0.0   0.0    3.0

In [13]:
# 치킨집이 어느 카테고리에 해당하는지 확인하기
# 업종대분류 카테고리
#raw['업종대분류'] # 컬럼 통째로 선택

raw['업종대분류'].unique()

array(['관광/여가/오락', '부동산', '생활서비스', '소매', '숙박', '스포츠', '음식', '학문/교육'],
      dtype=object)

In [16]:
# 업종중분류 카테고리
raw['업종중분류'].unique()

array(['연극/영화/극장', '전시/관람', 'PC/오락/당구/볼링등', '경마/경륜/성인오락', '스포츠/운동',
       '요가/단전/마사지', '놀이/여가/취미', '무도/유흥/가무', '부동산중개', '평가/개발/관리',
       '부동산관련서비스', '부동산임대', '분양', '기타서비스업', '광고/인쇄', '예식/의례/관혼상제',
       '인력/고용/용역알선', '자동차/이륜차', '법무세무회계', '행사/이벤트', '개인서비스', '주택수리', '사진',
       '대행업', '대중목욕탕/휴게', '물품기기대여', '개인/가정용품수리', '주유소/충전소', '장례/묘지',
       '이/미용/건강', '세탁/가사서비스', '운송/배달/택배', '가정/주방/인테리어', '책/서적/도서',
       '애견/애완/동물', '건강/미용식품', '자동차/자동차용품', '의약/의료품소매', '음/식료품소매',
       '페인트/유리제품소매', '철물/난방/건설자재소매', '선물/팬시/기념품', '예술품/골동품/수석/분재',
       '사무/문구/컴퓨터', '중고품소매/교환', '시계/귀금속소매', '가방/신발/액세서리', '가구소매',
       '취미/오락관련소매', '가전제품소매', '화장품소매', '기타판매업', '종합소매점', '운동/경기용품소매',
       '유아용품', '의복의류', '종교용품판매', '사진/광학/정밀기기소매', '호텔/콘도', '민박/하숙',
       '캠프/별장/펜션', '모텔/여관/여인숙', '유스호스텔', '실내운동시설', '실외운동시설', '운영관리시설',
       '부페', '중식', '분식', '양식', '닭/오리요리', '별식/퓨전요리', '유흥주점', '음식배달서비스',
       '패스트푸드', '일식/수산물', '한식', '기타음식업', '커피점/카페', '제과제빵떡케익', '학원-컴퓨터',
       '학원-자격/국가고시', '학원-창업취업취미', '학원기타', '학교', '유아교육', '특수교육기관',
       '학원-예능취미체육', '기타교육기관', '연구소', '학원-음악미술무용', '학원-어학', '도서관/독서실',
       '학원-보습교습입시', '학문교육기타'], dtype=object)

In [ ]:
## 추가) 1.업종대분류 "음식"선택 --> 업종중분류 카테고리 살펴보기
##       2. 업종대분류, 업종중분류를 인덱스로하는 피벗테이블 만들어서 살펴보기

In [19]:
# 업종 대문류 "음식"
cond = raw['업종대분류'] =='음식'
#raw[cond]
raw[cond]['업종중분류'].unique()

array(['부페', '중식', '분식', '양식', '닭/오리요리', '별식/퓨전요리', '유흥주점', '음식배달서비스',
       '패스트푸드', '일식/수산물', '한식', '기타음식업', '커피점/카페', '제과제빵떡케익'],
      dtype=object)

In [24]:
# 업종중분류 ' 닭/오리요리'인 데이터 선택
cond =  raw['업종중분류'] == '닭/오리요리'
df = raw[cond]
df

          광역시도   시군구 업종대분류   업종중분류  1년미만  1~2년  2~3년   3~5년  5년 이상
70       서울특별시   종로구    음식  닭/오리요리  20.0  29.0  20.0   51.0   79.0
164      서울특별시    중구    음식  닭/오리요리  31.0  34.0  16.0   60.0   93.0
264      서울특별시   용산구    음식  닭/오리요리  11.0  14.0  17.0   34.0   50.0
356      서울특별시   성동구    음식  닭/오리요리  20.0  17.0  26.0   37.0   87.0
439      서울특별시   광진구    음식  닭/오리요리  55.0  35.0  66.0  127.0  150.0
...        ...   ...   ...     ...   ...   ...   ...    ...    ...
20241     경상남도   함양군    음식  닭/오리요리   3.0   2.0   5.0    9.0   24.0
20327     경상남도   거창군    음식  닭/오리요리  10.0   4.0   2.0   16.0   33.0
20423     경상남도   합천군    음식  닭/오리요리   7.0   2.0   5.0   16.0   24.0
20508  제주특별자치도   제주시    음식  닭/오리요리  84.0  51.0  53.0  126.0  243.0
20603  제주특별자치도  서귀포시    음식  닭/오리요리  47.0  27.0  20.0   50.0  118.0

[229 rows x 9 columns]

In [35]:
df['계'] = df.sum(axis = 1)  #컬럼별로 더하기
df.head()

<ipython-input-35-4007438ddde1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['계'] = df.sum(axis = 1)  #컬럼별로 더하기

      광역시도  시군구 업종대분류   업종중분류  1년미만  1~2년  2~3년   3~5년  5년 이상       계
70   서울특별시  종로구    음식  닭/오리요리  20.0  29.0  20.0   51.0   79.0   597.0
164  서울특별시   중구    음식  닭/오리요리  31.0  34.0  16.0   60.0   93.0   702.0
264  서울특별시  용산구    음식  닭/오리요리  11.0  14.0  17.0   34.0   50.0   378.0
356  서울특별시  성동구    음식  닭/오리요리  20.0  17.0  26.0   37.0   87.0   561.0
439  서울특별시  광진구    음식  닭/오리요리  55.0  35.0  66.0  127.0  150.0  1299.0

In [25]:
# 치킨집 수 합계 구하기.
#df['컬럼명1'] + df['컬럼명2']+...
df.describe

             1년미만        1~2년        2~3년        3~5년       5년 이상
count  229.000000  229.000000  229.000000  229.000000  229.000000
mean    37.659389   20.000000   32.205240   68.279476   98.462882
std     36.397141   18.870287   43.533882   74.518869   92.131507
min      0.000000    0.000000    0.000000    3.000000    3.000000
25%     11.000000    5.000000    6.000000   18.000000   28.000000
50%     26.000000   15.000000   15.000000   49.000000   76.000000
75%     54.000000   31.000000   42.000000   85.000000  134.000000
max    199.000000   93.000000  311.000000  450.000000  517.000000

In [40]:
#  실습)
# 치킨집 가장 많은곳?   경남 창원/ 경기 수원/ 경기 고양
# 치킨집 가장 적은곳?  전남 신안/ 경북 울릉군/ 전북 진안군

#sort_values()

df.sort_values(by = '계').head(3)[['광역시도','시군구']]

       광역시도  시군구
16851  전라남도  신안군
18822  경상북도  울릉군
14436  전라북도  진안군

In [46]:
df_sort = df.sort_values(by = '계', ascending = False)
cond = df_sort['광역시도'] == '서울특별시'
df_seoul= df_sort[cond]
df_seoul

       광역시도   시군구 업종대분류   업종중분류  1년미만  1~2년  2~3년   3~5년  5년 이상       계
2116  서울특별시   강남구    음식  닭/오리요리  63.0  75.0  54.0  117.0  184.0  1479.0
439   서울특별시   광진구    음식  닭/오리요리  55.0  35.0  66.0  127.0  150.0  1299.0
993   서울특별시   노원구    음식  닭/오리요리  44.0  37.0  22.0   84.0  143.0   990.0
1087  서울특별시   은평구    음식  닭/오리요리  66.0  31.0  24.0   78.0  131.0   990.0
1931  서울특별시   관악구    음식  닭/오리요리  32.0  38.0  55.0   79.0  109.0   939.0
2208  서울특별시   송파구    음식  닭/오리요리  57.0  56.0  25.0   61.0  106.0   915.0
2308  서울특별시   강동구    음식  닭/오리요리  49.0  41.0  58.0   50.0  106.0   912.0
2028  서울특별시   서초구    음식  닭/오리요리  33.0  36.0  49.0   64.0  116.0   894.0
1454  서울특별시   강서구    음식  닭/오리요리  44.0  29.0  46.0   64.0  112.0   885.0
727   서울특별시   성북구    음식  닭/오리요리  52.0  17.0  26.0   92.0  107.0   882.0
1747  서울특별시  영등포구    음식  닭/오리요리  36.0  39.0  34.0   58.0  114.0   843.0
1553  서울특별시   구로구    음식  닭/오리요리  41.0  36.0  26.0   72.0  105.0   840.0
536   서울특별시  동대문구    음식  닭/오리요리  27.0  35.0  42.0   77.0   98.0   837.0
1276  서울특별시   마포구    음식  닭/오리요리  36.0  46.0  28.0   53.0   94.0   771.0
636   서울특별시   중랑구    음식  닭/오리요리  30.0  36.0  21.0   54.0  106.0   741.0
164   서울특별시    중구    음식  닭/오리요리  31.0  34.0  16.0   60.0   93.0   702.0
1186  서울특별시  서대문구    음식  닭/오리요리  29.0  21.0  15.0   55.0  109.0   687.0
901   서울특별시   도봉구    음식  닭/오리요리  28.0  27.0  19.0   74.0   78.0   678.0
70    서울특별시   종로구    음식  닭/오리요리  20.0  29.0  20.0   51.0   79.0   597.0
1367  서울특별시   양천구    음식  닭/오리요리  23.0  30.0  25.0   42.0   78.0   594.0
813   서울특별시   강북구    음식  닭/오리요리  37.0  29.0   7.0   45.0   78.0   588.0
356   서울특별시   성동구    음식  닭/오리요리  20.0  17.0  26.0   37.0   87.0   561.0
1839  서울특별시   동작구    음식  닭/오리요리  23.0  20.0  16.0   47.0   73.0   537.0
1654  서울특별시   금천구    음식  닭/오리요리  24.0  26.0  29.0   28.0   59.0   498.0
264   서울특별시   용산구    음식  닭/오리요리  11.0  14.0  17.0   34.0   50.0   378.0

In [ ]:
# 치킨집 수가 많다/적다 --> ???
# 인구대비 비교하는 것이 없다.

# 주민등록 인구수 대비 치킨집 비교해보자!
    - 주민등록인구/ 활동인구
    - 주민등록인구 : 거주지 등록 기준...
    - 생활인구

In [41]:
df['광역시도'].unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도'], dtype=object)

In [ ]:
df_sort