# 네이버 API 사용하기
step1 
- 캠페인ID를 for문을 사용하여 출력하기

In [1]:
# 캠페인 ID 입력
campaign_ids=['cmp-a001-01-000000003363186','cmp-a001-01-000000001420778','cmp-a001-02-000000002520245']

In [2]:
# 캠페인아이디 별로 도는 for문 
for campaign_id in campaign_ids:
    print(campaign_id)

cmp-a001-01-000000003363186
cmp-a001-01-000000001420778
cmp-a001-02-000000002520245

# 캠페인아이디별로 데이터 가져오기
step2
- 캠페인별 데이터 불러오기

In [5]:
#예제

import time
import random
import requests

import signaturehelper


def get_header(method, uri, api_key, secret_key, customer_id):
    timestamp = str(round(time.time() * 1000))
    signature = signaturehelper.Signature.generate(timestamp, method, uri, SECRET_KEY)
    return {'Content-Type': 'application/json; charset=UTF-8', 'X-Timestamp': timestamp, 'X-API-KEY': API_KEY, 'X-Customer': str(CUSTOMER_ID), 'X-Signature': signature}

# 아래에 자기 정보를 복붙하세요
BASE_URL = 'https://api.naver.com'
API_KEY = '0100000000d0a8fdadf02dee71a0bfc3f3cb221dace11ed3462aeae7ae7a62ffa76574248c'
SECRET_KEY = 'AQAAAADQqP2t8C3ucaC/w/PLIh2sG2Oznh8gVaTkd3ep+hi3Wg=='
CUSTOMER_ID = '1466756'


uri = '/stats' #SAMPLE API를 작성하신분이 uri라는 변수에 API 서비스를 입력해놓았고요, 아래 보시면 BASE_URL + uri과 uri변수를 합쳐서 
# 요청에 사용되는 주소를 만들도록 하였습니다. 
method = 'GET' #method='get'

for campaign_id in campaign_ids:
    r = requests.get(BASE_URL + uri, params={'ids': campaign_id, 
                                                 'fields': '["clkCnt","impCnt","salesAmt", "ctr", "cpc", "avgRnk", "ccnt","convAmt","ror"]', 
                                                 'timeRange': '{"since":"2020-11-01","until" :"2020-11-01"}'}, 
                         headers=get_header(method, uri, API_KEY, SECRET_KEY, CUSTOMER_ID))

    print("response status_code = {}".format(r.status_code))
    print("response body = {}".format(r.json()))

response status_code = 200
response body = {'data': [], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 1.75, 'convAmt': 0, 'clkCnt': 23, 'ror': 0, 'cpc': 176, 'ccnt': 0, 'avgRnk': 2.7, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 1315, 'salesAmt': 4059}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}

In [ ]:
#위 스크립트를 참고하여 데이터를 호출할 수 있는 또 다른 스크립트를 직접 구성해보세요


## Adgroup서비스 요청 코드 입력
## 현재 네이버 광고 콘솔에 등록되어 있는 광고그룹 출력

import time
import random
import requests

import signaturehelper

def get_header(method, uri, api_key, secret_key, customer_id):
    timestamp = str(round(time.time() * 1000))
    signature = signaturehelper.Signature.generate(timestamp, method, uri, SECRET_KEY)
    return {'Content-Type': 'application/json; charset=UTF-8', 'X-Timestamp': timestamp, 'X-API-KEY': API_KEY, 'X-Customer': str(CUSTOMER_ID), 'X-Signature': signature}

# 아래에 자기 정보를 복붙하세요
BASE_URL = 'https://api.naver.com'
API_KEY = '0100000000d0a8fdadf02dee71a0bfc3f3cb221dace11ed3462aeae7ae7a62ffa76574248c'
SECRET_KEY = 'AQAAAADQqP2t8C3ucaC/w/PLIh2sG2Oznh8gVaTkd3ep+hi3Wg=='
CUSTOMER_ID = '1466756'

# Adgroup Usage Sample

# 1. GET adgroup Usage Sample

uri = '/ncc/adgroups'
method = 'GET'
r = requests.get(BASE_URL + uri, headers=get_header(method, uri, API_KEY, SECRET_KEY, CUSTOMER_ID))

print("response status_code = {}".format(r.status_code))
print("response body = {}".format(r.json()))
target_adgroup = r.json()[0]

# 날짜별로 데이터 가져오기
- 기간 : 1주일

광고 데이터를 리포팅 할 때는 보통 어제 날짜의 데이터를 살펴보므로,
API에 어제 날짜를 기준으로 데이터를 불러오는 기능이 있는지 DOC.를 읽어봐야한다.
네이버 검색 광고 API뿐만 아니라 다른 API를 다룰때도 자신이 원하는 옵션이 있는지 DOC.를 살펴보는 것이 필요하다.

In [6]:
from datetime import datetime
from datetime import timedelta

import pandas as pd
from pandas import DataFrame
from pandas import Series

In [7]:
now=datetime.now().strftime('%Y-%m-%d')
a_week_ago=datetime.now()-timedelta(weeks=1)
a_week_ago=a_week_ago.strftime('%Y-%m-%d')

In [8]:
a_week_ago

'2021-03-30'

In [9]:
last_7days=pd.date_range(a_week_ago,now)

In [10]:
last_7days

DatetimeIndex(['2021-03-30', '2021-03-31', '2021-04-01', '2021-04-02',
               '2021-04-03', '2021-04-04', '2021-04-05', '2021-04-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
last_7days[0]

Timestamp('2021-03-30 00:00:00', freq='D')

In [12]:
# 날짜별로 도는 for문 
for x in last_7days:
    print(x)

2021-03-30 00:00:00
2021-03-31 00:00:00
2021-04-01 00:00:00
2021-04-02 00:00:00
2021-04-03 00:00:00
2021-04-04 00:00:00
2021-04-05 00:00:00
2021-04-06 00:00:00

json 형식대로 입력하기


각각의 객체는 쌍따옴표로 입력해야하는 json

In [16]:
last_7days[:-2]

DatetimeIndex(['2021-03-30', '2021-03-31', '2021-04-01', '2021-04-02',
               '2021-04-03', '2021-04-04'],
              dtype='datetime64[ns]', freq='D')

In [20]:
# 캠페인과 일별로 데이터를 호출해보세요 
df=pd.DataFrame()
df_data={}
for campaign_id in campaign_ids:
    for x in last_7days[:-1]:
        day_ymd=x.strftime('%Y-%m-%d')
        day_input='"'+day_ymd+'"'# 왜 앞뒤로 따옴표를 넣어야하는가? json이라서?
        # timerange를 잘 설명하기
        r = requests.get(BASE_URL + uri, params={'ids': campaign_id, 
                                                 'fields': '["clkCnt","impCnt","salesAmt", "ctr", "cpc", "avgRnk", "ccnt","convAmt","ror"]', 
                                                 'timeRange': '{'+'"since":'+"{}".format(day_input)+','+'"until" :' +'{}'.format(day_input)+'}'}, 
                         headers=get_header(method, uri, API_KEY, SECRET_KEY, CUSTOMER_ID))

        print("response status_code = {}".format(r.status_code))
        print("response body = {}".format(r.json()))
        time.sleep(1) # 계속 호출하면 서버에서 접근을 차단하기 때문에 보통 반복문에서 1 ~ 2초간의 여유를 둔다.

response status_code = 200
response body = {'data': [{'ctr': 3.3, 'convAmt': 0, 'clkCnt': 3, 'ror': 0, 'cpc': 209, 'ccnt': 0, 'avgRnk': 2.7, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 91, 'salesAmt': 627}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.24, 'convAmt': 0, 'clkCnt': 3, 'ror': 0, 'cpc': 224, 'ccnt': 0, 'avgRnk': 2.8, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 134, 'salesAmt': 671}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 1.2, 'convAmt': 0, 'clkCnt': 1, 'ror': 0, 'cpc': 110, 'ccnt': 0, 'avgRnk': 3.4, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 84, 'salesAmt': 110}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 3.4, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 85, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 4.93, 'convAmt': 0, 'clkCnt': 7, 'ror': 0, 'cpc': 234, 'ccnt': 0, 'avgRnk': 2.9, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 142, 'salesAmt': 1639}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.52, 'convAmt': 0, 'clkCnt': 5, 'ror': 0, 'cpc': 222, 'ccnt': 0, 'avgRnk': 2.8, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 199, 'salesAmt': 1111}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 3.04, 'convAmt': 0, 'clkCnt': 4, 'ror': 0, 'cpc': 231, 'ccnt': 0, 'avgRnk': 3, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 132, 'salesAmt': 924}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 7.7, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 45, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 5.9, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 33, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 6.9, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 45, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 5.5, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 42, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 10.53, 'convAmt': 0, 'clkCnt': 2, 'ror': 0, 'cpc': 253, 'ccnt': 0, 'avgRnk': 3.5, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 19, 'salesAmt': 506}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 7.6, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 25, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.13, 'convAmt': 0, 'clkCnt': 1, 'ror': 0, 'cpc': 220, 'ccnt': 0, 'avgRnk': 5.9, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 47, 'salesAmt': 220}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.43, 'convAmt': 0, 'clkCnt': 16, 'ror': 0, 'cpc': 366, 'ccnt': 0, 'avgRnk': 3.9, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 661, 'salesAmt': 5852}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 1.89, 'convAmt': 0, 'clkCnt': 12, 'ror': 0, 'cpc': 370, 'ccnt': 0, 'avgRnk': 3.8, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 638, 'salesAmt': 4444}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 1.89, 'convAmt': 0, 'clkCnt': 13, 'ror': 0, 'cpc': 382, 'ccnt': 0, 'avgRnk': 3.8, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 690, 'salesAmt': 4961}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.79, 'convAmt': 0, 'clkCnt': 18, 'ror': 0, 'cpc': 310, 'ccnt': 0, 'avgRnk': 3.6, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 646, 'salesAmt': 5577}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.64, 'convAmt': 0, 'clkCnt': 17, 'ror': 0, 'cpc': 497, 'ccnt': 0, 'avgRnk': 3.9, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 646, 'salesAmt': 8448}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.15, 'convAmt': 0, 'clkCnt': 15, 'ror': 0, 'cpc': 397, 'ccnt': 0, 'avgRnk': 4.2, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 698, 'salesAmt': 5951}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 1.67, 'convAmt': 0, 'clkCnt': 11, 'ror': 0, 'cpc': 257, 'ccnt': 0, 'avgRnk': 4.2, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 660, 'salesAmt': 2827}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}

In [ ]:
#위 스크립트를 참고하여 데이터를 호출할 수 있는 또 다른 스크립트를 직접 구성해보세요

# 캠페인별, 날짜별 데이터 가져와서 데이터프레임에 입력하기

- 반환된 데이터 살펴보기

In [21]:
#text : 전달된 데이터를 string 형태로 변환
r.text

'{"data":[{"ctr":1.67,"convAmt":0,"clkCnt":11,"ror":0,"cpc":257,"ccnt":0,"avgRnk":4.2,"id":"cmp-a001-02-000000002520245","impCnt":660,"salesAmt":2827}],"compTm":"202104060154","cycleBaseTm":"202104050000"}'

In [22]:
#requests모듈의 json함수
#json 포맷의 데이터를 파이썬에서 사용할 수 있는 자료형, 자료구조로 변환
#딕셔너리 형태
r.json()

{'data': [{'ctr': 1.67,
   'convAmt': 0,
   'clkCnt': 11,
   'ror': 0,
   'cpc': 257,
   'ccnt': 0,
   'avgRnk': 4.2,
   'id': 'cmp-a001-02-000000002520245',
   'impCnt': 660,
   'salesAmt': 2827}],
 'compTm': '202104060154',
 'cycleBaseTm': '202104050000'}

In [23]:
data=r.json()

In [24]:
#리스트 형태
data['data']

[{'ctr': 1.67,
  'convAmt': 0,
  'clkCnt': 11,
  'ror': 0,
  'cpc': 257,
  'ccnt': 0,
  'avgRnk': 4.2,
  'id': 'cmp-a001-02-000000002520245',
  'impCnt': 660,
  'salesAmt': 2827}]

In [25]:
#리스트 인덱싱(0), 딕셔너리 형태로 각 필드에 접근할 수 있다.
data['data'][0]

{'ctr': 1.67,
 'convAmt': 0,
 'clkCnt': 11,
 'ror': 0,
 'cpc': 257,
 'ccnt': 0,
 'avgRnk': 4.2,
 'id': 'cmp-a001-02-000000002520245',
 'impCnt': 660,
 'salesAmt': 2827}

In [26]:
#avgRnk
data['data'][0]['avgRnk']

4.2

In [27]:
#ccnt
data['data'][0]['ccnt']

0

In [28]:
#clkCnt
data['data'][0]['clkCnt']

11

#### r.json() 데이터를 포함하는 딕셔너리 만들기

In [29]:
df_data={}

In [30]:
df_data['노출수']=data['data'][0]['impCnt']
df_data['클릭수']=data['data'][0]['clkCnt']
df_data['ctr']=data['data'][0]['ctr']
df_data['cpc']=data['data'][0]['cpc']
df_data['총비용']=data['data'][0]['salesAmt']
df_data['전환수']=data['data'][0]['ccnt']
df_data['매출액']=data['data'][0]['convAmt']
df_data['ROAS']=data['data'][0]['ror']

In [31]:
df_data

{'노출수': 660,
 '클릭수': 11,
 'ctr': 1.67,
 'cpc': 257,
 '총비용': 2827,
 '전환수': 0,
 '매출액': 0,
 'ROAS': 0}

# df_data로 데이터프레임 만들기

In [32]:
df=pd.DataFrame(df_data,index=[0])

In [33]:
df

   노출수  클릭수   ctr  cpc   총비용  전환수  매출액  ROAS
0  660   11  1.67  257  2827    0    0     0

In [34]:
df_data2={
 '전환수': 1,
 '클릭수': 37,
 '매출액': 69120,
 'cpc': 276,
 'ctr': 1.69,
'ROAS':676,
 '노출수': 2200,
 '총비용': 10219}

In [35]:
df2=pd.DataFrame(df_data2,index=[0])

In [36]:
df2

   전환수  클릭수    매출액  cpc   ctr  ROAS   노출수    총비용
0    1   37  69120  276  1.69   676  2200  10219

# 두 데이터프레임 결합하기

In [37]:
df=pd.concat([df,df2])

In [38]:
df

    노출수  클릭수   ctr  cpc    총비용  전환수    매출액  ROAS
0   660   11  1.67  257   2827    0      0     0
0  2200   37  1.69  276  10219    1  69120   676

### 데이터프레임에 데이터 입력하기

In [40]:
import pandas as pd

df=pd.DataFrame()
df_data={}
for campaign_id in campaign_ids:
    for x in last_7days[:-1]:
        day_ymd=x.strftime('%Y-%m-%d')
        day_input='"'+day_ymd+'"'# 왜 앞뒤로 따옴표를 넣어야하는가? json이라서?
        # timerange를 잘 설명하기
        r = requests.get(BASE_URL + uri, params={'ids': campaign_id, 
                                                 'fields': '["clkCnt","impCnt","salesAmt", "ctr", "cpc", "avgRnk", "ccnt","convAmt","ror"]', 
                                                 'timeRange': '{'+'"since":'+"{}".format(day_input)+','+'"until" :' +'{}'.format(day_input)+'}'}, 
                         headers=get_header(method, uri, API_KEY, SECRET_KEY, CUSTOMER_ID))

        print("response status_code = {}".format(r.status_code))
        print("response body = {}".format(r.json()))
        time.sleep(1)

        #딕셔너리로 넣기
        data=r.json()    
        df_data['날짜']=day_ymd
        df_data['id']=campaign_id
        if data['data']!=[]:                        
            df_data['노출수']=data['data'][0]['impCnt']
            df_data['클릭수']=data['data'][0]['clkCnt']
            df_data['ctr']=data['data'][0]['ctr']
            df_data['cpc']=data['data'][0]['cpc']
            df_data['총비용']=data['data'][0]['salesAmt']
            df_data['전환수']=data['data'][0]['ccnt']
            df_data['매출액']=data['data'][0]['convAmt']
            df_data['ROAS']=data['data'][0]['ror']            
        else : 
            df_data['노출수']=0
            df_data['클릭수']=0
            df_data['ctr']=0
            df_data['cpc']=0
            df_data['총비용']=0
            df_data['전환수']=0
            df_data['매출액']=0
            df_data['ROAS']=0

        df_data=pd.DataFrame(df_data,index=[0])
        df=pd.concat([df,df_data])   
    #     'timeRange': '{"since":"2020-08-01","until":"2020-10-02"}'

response status_code = 200
response body = {'data': [{'ctr': 3.3, 'convAmt': 0, 'clkCnt': 3, 'ror': 0, 'cpc': 209, 'ccnt': 0, 'avgRnk': 2.7, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 91, 'salesAmt': 627}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.24, 'convAmt': 0, 'clkCnt': 3, 'ror': 0, 'cpc': 224, 'ccnt': 0, 'avgRnk': 2.8, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 134, 'salesAmt': 671}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 1.2, 'convAmt': 0, 'clkCnt': 1, 'ror': 0, 'cpc': 110, 'ccnt': 0, 'avgRnk': 3.4, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 84, 'salesAmt': 110}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 3.4, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 85, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 4.93, 'convAmt': 0, 'clkCnt': 7, 'ror': 0, 'cpc': 234, 'ccnt': 0, 'avgRnk': 2.9, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 142, 'salesAmt': 1639}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.52, 'convAmt': 0, 'clkCnt': 5, 'ror': 0, 'cpc': 222, 'ccnt': 0, 'avgRnk': 2.8, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 199, 'salesAmt': 1111}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 3.04, 'convAmt': 0, 'clkCnt': 4, 'ror': 0, 'cpc': 231, 'ccnt': 0, 'avgRnk': 3, 'id': 'cmp-a001-01-000000003363186', 'impCnt': 132, 'salesAmt': 924}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 7.7, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 45, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 5.9, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 33, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 6.9, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 45, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 5.5, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 42, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 10.53, 'convAmt': 0, 'clkCnt': 2, 'ror': 0, 'cpc': 253, 'ccnt': 0, 'avgRnk': 3.5, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 19, 'salesAmt': 506}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 0, 'convAmt': 0, 'clkCnt': 0, 'ror': 0, 'cpc': 0, 'ccnt': 0, 'avgRnk': 7.6, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 25, 'salesAmt': 0}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.13, 'convAmt': 0, 'clkCnt': 1, 'ror': 0, 'cpc': 220, 'ccnt': 0, 'avgRnk': 5.9, 'id': 'cmp-a001-01-000000001420778', 'impCnt': 47, 'salesAmt': 220}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.43, 'convAmt': 0, 'clkCnt': 16, 'ror': 0, 'cpc': 366, 'ccnt': 0, 'avgRnk': 3.9, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 661, 'salesAmt': 5852}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 1.89, 'convAmt': 0, 'clkCnt': 12, 'ror': 0, 'cpc': 370, 'ccnt': 0, 'avgRnk': 3.8, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 638, 'salesAmt': 4444}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 1.89, 'convAmt': 0, 'clkCnt': 13, 'ror': 0, 'cpc': 382, 'ccnt': 0, 'avgRnk': 3.8, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 690, 'salesAmt': 4961}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.79, 'convAmt': 0, 'clkCnt': 18, 'ror': 0, 'cpc': 310, 'ccnt': 0, 'avgRnk': 3.6, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 646, 'salesAmt': 5577}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.64, 'convAmt': 0, 'clkCnt': 17, 'ror': 0, 'cpc': 497, 'ccnt': 0, 'avgRnk': 3.9, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 646, 'salesAmt': 8448}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 2.15, 'convAmt': 0, 'clkCnt': 15, 'ror': 0, 'cpc': 397, 'ccnt': 0, 'avgRnk': 4.2, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 698, 'salesAmt': 5951}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}
response status_code = 200
response body = {'data': [{'ctr': 1.67, 'convAmt': 0, 'clkCnt': 11, 'ror': 0, 'cpc': 257, 'ccnt': 0, 'avgRnk': 4.2, 'id': 'cmp-a001-02-000000002520245', 'impCnt': 660, 'salesAmt': 2827}], 'compTm': '202104060154', 'cycleBaseTm': '202104050000'}

In [41]:
df.sort_values('날짜',inplace=True)

In [45]:
df

,날짜,id,노출수,클릭수,ctr,cpc,총비용,전환수,매출액,ROAS
0,2021-03-30,cmp-a001-01-000000003363186,91,3,3.30,209,627,0,0,0
0,2021-03-30,cmp-a001-02-000000002520245,661,16,2.43,366,5852,0,0,0
0,2021-03-30,cmp-a001-01-000000001420778,45,0,0.00,0,0,0,0,0
0,2021-03-31,cmp-a001-01-000000003363186,134,3,2.24,224,671,0,0,0
0,2021-03-31,cmp-a001-02-000000002520245,638,12,1.89,370,4444,0,0,0
0,2021-03-31,cmp-a001-01-000000001420778,33,0,0.00,0,0,0,0,0
0,2021-04-01,cmp-a001-01-000000003363186,84,1,1.20,110,110,0,0,0
0,2021-04-01,cmp-a001-02-000000002520245,690,13,1.89,382,4961,0,0,0
0,2021-04-01,cmp-a001-01-000000001420778,45,0,0.00,0,0,0,0,0
0,2021-04-02,cmp-a001-02-000000002520245,646,18,2.79,310,5577,0,0,0
0,2021-04-02,cmp-a001-01-000000001420778,42,0,0.00,0,0,0,0,0
0,2021-04-02,cmp-a001-01-000000003363186,85,0,0.00,0,0,0,0,0
0,2021-04-03,cmp-a001-01-000000001420778,19,2,10.53,253,506,0,0,0
0,2021-04-03,cmp-a001-01-000000003363186,142,7,4.93,234,1639,0,0,0
0,2021-04-03,cmp-a001-02-000000002520245,646,17,2.64,497,8448,0,0,0
0,2021-04-04,cmp-a001-01-000000001420778,25,0,0.00,0,0,0,0,0
0,2021-04-04,cmp-a001-01-000000003363186,199,5,2.52,222,1111,0,0,0
0,2021-04-04,cmp-a001-02-000000002520245,698,15,2.15,397,5951,0,0,0
0,2021-04-05,cmp-a001-01-000000001420778,47,1,2.13,220,220,0,0,0
0,2021-04-05,cmp-a001-01-000000003363186,132,4,3.04,231,924,0,0,0
0,2021-04-05,cmp-a001-02-000000002520245,660,11,1.67,257,2827,0,0,0

# 아이디와 캠페인을 결합
- 캠페인서비스 : http://naver.github.io/searchad-apidoc/#/tags/Campaign

In [46]:
campaign_ids[0]

'cmp-a001-01-000000003363186'

In [50]:
#하나의 캠페인ID로 캠페인 서비스 출력해보기
uri = '/ncc/campaigns'
method = 'GET'
r= requests.get(BASE_URL + uri+'?ids={}'.format(campaign_ids[0]), headers=get_header(method, uri, API_KEY, SECRET_KEY, CUSTOMER_ID))

In [51]:
# nccCampaignId와 name을 추출하여 캠페인ID와 캠페인 이름을 매칭시킬 수 있음
r.json()

[{'nccCampaignId': 'cmp-a001-01-000000003363186',
  'customerId': 1466756,
  'name': 'TEST(MO)',
  'userLock': False,
  'campaignTp': 'WEB_SITE',
  'deliveryMethod': 'ACCELERATED',
  'trackingMode': 'TRACKING_DISABLED',
  'usePeriod': False,
  'dailyBudget': 25000,
  'useDailyBudget': True,
  'totalChargeCost': 0,
  'status': 'ELIGIBLE',
  'statusReason': 'ELIGIBLE',
  'expectCost': 231,
  'migType': 0,
  'delFlag': False,
  'regTm': '2020-09-21T13:47:54.000Z',
  'editTm': '2020-11-25T01:34:09.000Z'}]

In [52]:
data=r.json()

In [53]:
#빈 딕셔너리에 키와 값 추가하기
#예제
empty_dict={}
empty_dict['key']='value'
empty_dict

{'key': 'value'}

In [54]:
#빈 딕셔너리 만들기
cam_name={}
cam_name[data[0]['nccCampaignId']]=data[0]['name']
#캠페인아이디 : 이름
cam_name

{'cmp-a001-01-000000003363186': 'TEST(MO)'}

In [55]:
cam_name={}
for x in campaign_ids:
    uri = '/ncc/campaigns'
    method = 'GET'
    r= requests.get(BASE_URL + uri+'?ids={}'.format(x), headers=get_header(method, uri, API_KEY, SECRET_KEY, CUSTOMER_ID))    
    
    data=r.json()   
    print(data)
    cam_name[data[0]['nccCampaignId']]=data[0]['name']
    
    time.sleep(1)

[{'nccCampaignId': 'cmp-a001-01-000000003363186', 'customerId': 1466756, 'name': 'TEST(MO)', 'userLock': False, 'campaignTp': 'WEB_SITE', 'deliveryMethod': 'ACCELERATED', 'trackingMode': 'TRACKING_DISABLED', 'usePeriod': False, 'dailyBudget': 25000, 'useDailyBudget': True, 'totalChargeCost': 0, 'status': 'ELIGIBLE', 'statusReason': 'ELIGIBLE', 'expectCost': 231, 'migType': 0, 'delFlag': False, 'regTm': '2020-09-21T13:47:54.000Z', 'editTm': '2020-11-25T01:34:09.000Z'}]
[{'nccCampaignId': 'cmp-a001-01-000000001420778', 'customerId': 1466756, 'name': 'TEST(PC)', 'userLock': False, 'campaignTp': 'WEB_SITE', 'deliveryMethod': 'ACCELERATED', 'trackingMode': 'TRACKING_DISABLED', 'usePeriod': False, 'dailyBudget': 25000, 'useDailyBudget': True, 'totalChargeCost': 209, 'status': 'ELIGIBLE', 'statusReason': 'ELIGIBLE', 'expectCost': 209, 'migType': 0, 'delFlag': False, 'regTm': '2018-09-09T11:50:42.000Z', 'editTm': '2020-11-25T01:34:13.000Z'}]
[{'nccCampaignId': 'cmp-a001-02-000000002520245', 'customerId': 1466756, 'name': '쇼핑검색#1', 'userLock': False, 'campaignTp': 'SHOPPING', 'deliveryMethod': 'ACCELERATED', 'trackingUrl': 'http://tracking.sample.com/?n_final_url={final_url}', 'trackingMode': 'TRACKING_DISABLED', 'usePeriod': False, 'dailyBudget': 20000, 'useDailyBudget': True, 'totalChargeCost': 495, 'status': 'ELIGIBLE', 'statusReason': 'ELIGIBLE', 'expectCost': 495, 'migType': 0, 'delFlag': False, 'regTm': '2019-12-13T02:14:44.000Z', 'editTm': '2020-07-02T03:37:47.000Z'}]

In [56]:
cam_name

{'cmp-a001-01-000000003363186': 'TEST(MO)',
 'cmp-a001-01-000000001420778': 'TEST(PC)',
 'cmp-a001-02-000000002520245': '쇼핑검색#1'}

#### 필드데이터가 있는 데이터프레임과 캠페인 명이 있는 데이터 결합

In [57]:
camp_list=[]
for x in df['id']:
    for y in cam_name:
        if x==y:
            camp_list.append(cam_name[y])

In [58]:
camp_list

['TEST(MO)',
 '쇼핑검색#1',
 'TEST(PC)',
 'TEST(MO)',
 '쇼핑검색#1',
 'TEST(PC)',
 'TEST(MO)',
 '쇼핑검색#1',
 'TEST(PC)',
 '쇼핑검색#1',
 'TEST(PC)',
 'TEST(MO)',
 'TEST(PC)',
 'TEST(MO)',
 '쇼핑검색#1',
 'TEST(PC)',
 'TEST(MO)',
 '쇼핑검색#1',
 'TEST(PC)',
 'TEST(MO)',
 '쇼핑검색#1']

In [59]:
df['캠페인']=camp_list

In [60]:
result_df=df

In [61]:
result_df.drop('id',axis=1,inplace=True)

In [62]:
result_df=result_df[['날짜', '캠페인','노출수','클릭수', 'ctr', 'cpc', '총비용', '전환수','매출액','ROAS']]

In [63]:
result_df

           날짜       캠페인  노출수  클릭수    ctr  cpc   총비용  전환수  매출액  ROAS
0  2021-03-30  TEST(MO)   91    3   3.30  209   627    0    0     0
0  2021-03-30    쇼핑검색#1  661   16   2.43  366  5852    0    0     0
0  2021-03-30  TEST(PC)   45    0   0.00    0     0    0    0     0
0  2021-03-31  TEST(MO)  134    3   2.24  224   671    0    0     0
0  2021-03-31    쇼핑검색#1  638   12   1.89  370  4444    0    0     0
0  2021-03-31  TEST(PC)   33    0   0.00    0     0    0    0     0
0  2021-04-01  TEST(MO)   84    1   1.20  110   110    0    0     0
0  2021-04-01    쇼핑검색#1  690   13   1.89  382  4961    0    0     0
0  2021-04-01  TEST(PC)   45    0   0.00    0     0    0    0     0
0  2021-04-02    쇼핑검색#1  646   18   2.79  310  5577    0    0     0
0  2021-04-02  TEST(PC)   42    0   0.00    0     0    0    0     0
0  2021-04-02  TEST(MO)   85    0   0.00    0     0    0    0     0
0  2021-04-03  TEST(PC)   19    2  10.53  253   506    0    0     0
0  2021-04-03  TEST(MO)  142    7   4.93  234  1639    0    0     0
0  2021-04-03    쇼핑검색#1  646   17   2.64  497  8448    0    0     0
0  2021-04-04  TEST(PC)   25    0   0.00    0     0    0    0     0
0  2021-04-04  TEST(MO)  199    5   2.52  222  1111    0    0     0
0  2021-04-04    쇼핑검색#1  698   15   2.15  397  5951    0    0     0
0  2021-04-05  TEST(PC)   47    1   2.13  220   220    0    0     0
0  2021-04-05  TEST(MO)  132    4   3.04  231   924    0    0     0
0  2021-04-05    쇼핑검색#1  660   11   1.67  257  2827    0    0     0

# 어떤 회사에서는 리포팅을 할때 캠페인을 빼고 날짜로만 합치는 회사가 있다. 
- 엑셀파일 보여주기

groupby

In [64]:
df_groupby=result_df.groupby('날짜').sum()

In [65]:
df_groupby

            노출수  클릭수    ctr  cpc    총비용  전환수  매출액  ROAS
날짜
2021-03-30  797   19   5.73  575   6479    0    0     0
2021-03-31  805   15   4.13  594   5115    0    0     0
2021-04-01  819   14   3.09  492   5071    0    0     0
2021-04-02  773   18   2.79  310   5577    0    0     0
2021-04-03  807   26  18.10  984  10593    0    0     0
2021-04-04  922   20   4.67  619   7062    0    0     0
2021-04-05  839   16   6.84  708   3971    0    0     0

In [66]:
#ctr, cpc, ROAS 는 재계산해야하기 때문에 제거
df_groupby.drop(['ctr','cpc','ROAS'],axis=1,inplace=True)

In [67]:
df_groupby['ctr']=df_groupby['클릭수']/df_groupby['노출수']*100
df_groupby['cpc']=df_groupby['총비용']/df_groupby['클릭수']
df_groupby['ROAS']=df_groupby['매출액']/df_groupby['총비용']*100

In [68]:
df_groupby

            노출수  클릭수    총비용  전환수  매출액       ctr         cpc  ROAS
날짜
2021-03-30  797   19   6479    0    0  2.383940  341.000000   0.0
2021-03-31  805   15   5115    0    0  1.863354  341.000000   0.0
2021-04-01  819   14   5071    0    0  1.709402  362.214286   0.0
2021-04-02  773   18   5577    0    0  2.328590  309.833333   0.0
2021-04-03  807   26  10593    0    0  3.221809  407.423077   0.0
2021-04-04  922   20   7062    0    0  2.169197  353.100000   0.0
2021-04-05  839   16   3971    0    0  1.907032  248.187500   0.0

In [69]:
#ctr, cpc, roas를 보기 좋게 변경
df_groupby['ctr']=round(df_groupby['ctr'],2)
df_groupby['ROAS']=df_groupby['ROAS'].astype(int)
df_groupby['cpc']=df_groupby['cpc'].astype(int)

In [70]:
df_groupby

            노출수  클릭수    총비용  전환수  매출액   ctr  cpc  ROAS
날짜
2021-03-30  797   19   6479    0    0  2.38  341     0
2021-03-31  805   15   5115    0    0  1.86  341     0
2021-04-01  819   14   5071    0    0  1.71  362     0
2021-04-02  773   18   5577    0    0  2.33  309     0
2021-04-03  807   26  10593    0    0  3.22  407     0
2021-04-04  922   20   7062    0    0  2.17  353     0
2021-04-05  839   16   3971    0    0  1.91  248     0

## 따로 회사에서 쓰는 형식의 엑셀파일이 있을 경우

In [71]:
import openpyxl

In [74]:
wb=openpyxl.load_workbook('네이버보고서_1006.xlsx')

In [75]:
ws=wb.sheetnames

In [76]:
wb.sheetnames

['8월', '9월', '10월']

In [77]:
ws=wb['10월']

In [78]:
df_groupby=df_groupby[['노출수', '클릭수', 'ctr', 'cpc','총비용', '전환수','매출액','ROAS']]

In [79]:
for x in range(df_groupby.shape[0]): #행의 수 반영
    for y in range(df_groupby.shape[1]): #열의 수 반영
        ws.cell(row=x+2,column=y+2).value=df_groupby.iloc[x,y]

In [80]:
# 오늘 날짜 계산
now=datetime.now()
today=now.strftime('%m%d')
today

# 파일이름 만들기
# 매체보고서_오늘날짜.xlsx
filename='네이버보고서_'+today+'.xlsx'
filename

'네이버보고서_0406.xlsx'

In [81]:
wb.save(filename)