# 초보자를 위한 파이썬 300제
https://wikidocs.net/78768

## 151
리스트에는 네 개의 정수가 저장돼 있다.

In [1]:
리스트 = [3, -20, -3, 44]

for문을 사용해서 리스트의 음수를 출력하라.

-20

-3

In [5]:
for 변수 in 리스트[1:3]:
    print(변수)

-20
-3

In [6]:
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

리스트에 저장된 모든 값에 접근해서 음수 여부를 판단해야한다. 라인 3을 제외하면 리스트에 저장된 모든 값을 출력하는 코드이다. 라인 3의 분기문의 사용으로 모든 값을 출력하는 것이 아니라 조건이 참인 경우에만 if문의 들여쓰기된 코드가 실행된다.

## 152
for문을 사용해서 3의 배수만을 출력하라.

In [7]:
리스트 = [3, 100, 23, 44]

3

In [8]:
for 변수 in 리스트:
    if 변수 %3 == 0: 
        print(변수)

3

## 153
리스트에서 20 보다 작은 3의 배수를 출력하라

In [9]:
리스트 = [13, 21, 12, 14, 30, 18]

12

18

In [13]:
for 변수 in 리스트:
    if (변수 <20 )and (변수 %3 ==0 ):
        print(변수)

12
18

## 154
리스트에서 세 글자 이상의 문자를 화면에 출력하라

In [14]:
리스트 = ["I", "study", "python", "language", "!"]

study
python
language

In [16]:
for 변수 in 리스트:
    if len(변수) >=3:
        print(변수)

study
python
language

## 155
리스트에서 대문자만 화면에 출력하라.

In [17]:
리스트 = ["A", "b", "c", "D"]

In [ ]:
A
D

In [ ]:
(참고) isupper() 메서드는 대문자 여부를 판별합니다.

>> 변수 = "A"
>> 변수.isupper()
True
>> 변수 = "a"
>> 변수.isupper()
False

In [21]:
for 변수 in 리스트:
    if 변수.isupper():
        print(변수)

A
D

## 156
리스트에서 소문자만 화면에 출력하라.

In [22]:
리스트 = ["A", "b", "c", "D"]

In [ ]:
b
c

In [23]:
for 변수 in 리스트:
    if 변수.islower():
        print(변수)

b
c

In [24]:
for 변수 in 리스트:
    if 변수.isupper() == False:
        print(변수)

b
c

In [25]:
for 변수 in 리스트:
    if not 변수.isupper():
        print(변수)

b
c

## 157
이름의 첫 글자를 대문자로 변경해서 출력하라.

In [26]:
리스트 = ['dog', 'cat', 'parrot']

In [ ]:
Dog
Cat
Parrot

In [ ]:
(참고) upper() 메서드는 문자열을 대문자로 변경합니다.

>> 변수 = "a"
>> a.upper()
A
>> 변수 = "abc"
>> 변수.upper()
ABC

In [29]:
for 변수 in 리스트: 
    첫글자 = 변수[0]
    대문자 = 첫글자.upper()
    print(대문자 + 변수[1:])

Dog
Cat
Parrot

In [30]:
for 변수 in 리스트:
    print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

## 158
파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

In [31]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

In [ ]:
hello
ex01
intro

In [37]:
for 변수 in 리스트:
    변수 = 변수.split(".")[0]
    print(변수)

hello
ex01
intro

## 159
파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

In [38]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

In [ ]:
intra.h
define.h

In [42]:
for 변수 in 리스트:
    확장자 = 변수.split(".")
    if 확장자[1]== "h":
        print(변수)

intra.h
define.h

## 160
파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

In [43]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

In [ ]:
intra.h
intra.c
define.h

In [45]:
for 변수 in 리스트:
    확장자 = 변수.split(".")[1]
    if 확장자 in ["h","c"]:
        print(변수)

intra.h
intra.c
define.h

In [50]:
for 변수 in 리스트:
    확장자 = 변수.split(".")[1]
    if (확장자=="h") or (확장자 == "c"):
        print(변수)

intra.h
intra.c
define.h

In [47]:
확장자

'py'

## 161
for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [53]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

## 162
월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라.

2002
2006
2010
...
2042
2046
2050

참고) range의 세번 째 파라미터는 증감폭을 결정합니다.

In [ ]:
>> print(list(range(0, 10, 2)))
[0, 2, 4, 6, 8]

In [54]:
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

## 163
1부터 30까지의 숫자 중 3의 배수를 출력하라.

In [58]:
for i in range(3,31):
    if (i % 3) == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [59]:
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

## 165
for문을 사용해서 아래와 같이 출력하라.

0.0
0.1
0.2
0.3
0.4
0.5
...
0.9

In [64]:
for num in range(10):
    print(num/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

## 166
구구단 3단을 출력하라.

In [67]:
for i in range(1,10):
    print(3,"x",i,"=",3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

## 167
구구단 3단을 출력하라. 단 홀수 번째만 출력한다.

In [ ]:
3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [71]:
for i in range(1,10,2):
    print(3,"x",i,"=",3*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [72]:
num = 3
for i in range(1,10,2):
    print(num,"x",i,"=",num*i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

## 168
1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합 : 55

In [80]:
hab = 0
for i in range(1,11):
    hab+= i
print("합: ", hab)

합:  55

hab += i 는 아래 코드를 축약해서 작성한 것이다.

hab = hab + i

## 169
1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

합: 25

In [81]:
hab1=0
for i in range(1,10,2):
    hab1+=i
print("합: ", hab1)

합:  25

##  170
1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [85]:
result=1
for i in range(1,11):
    result*=i
print(result)

3628800

## 171
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [86]:
price_list = [32100, 32150, 32000, 32500]

32100  
32150  
32000  
32500

In [91]:
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

## 172
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [92]:
price_list = [32100, 32150, 32000, 32500]

3 32100  
2 32150  
1 32000  
0 32500

In [100]:
for i in range(len(price_list)):
    print((len(price_list)-1)-i,price_list[i])

3 32100
2 32150
1 32000
0 32500

## 174
아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [98]:
price_list = [32100, 32150, 32000, 32500]

100 32150  
110 32000  
120 32500

In [105]:
for i in range(1,4):
    print((90+10)*i,price_list[i])

100 32150
200 32000
300 32500

## 175

my_list를 아래와 같이 출력하라.

In [106]:
my_list = ["가", "나", "다", "라"]

가 나  
나 다  
다 라

In [108]:
print(my_list[0],my_list[1])
print(my_list[1],my_list[2])
print(my_list[2],my_list[3])

가 나
나 다
다 라

In [111]:
for i in [0,1,2]:
    print(my_list[i])

가
나
다

In [110]:
for i in [0,1,2]:
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [113]:
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [117]:
for i in range(1, len(my_list)):
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

## 176
리스트를 아래와 같이 출력하라.

In [118]:
my_list = ["가", "나", "다", "라", "마"]

가 나 다  
나 다 라  
다 라 마

In [121]:
for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [123]:
for i in range(1, len(my_list)-1):
    print(my_list[i-1],my_list[i],my_list[i+1])

가 나 다
나 다 라
다 라 마

In [124]:
for i in range(2, len(my_list)):
    print(my_list[i-2],my_list[i-1],my_list[i])

가 나 다
나 다 라
다 라 마

## 177
반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

In [125]:
my_list = ["가", "나", "다", "라"]

라 다  
다 나  
나 가

In [126]:
my_list = my_list[::-1]

In [127]:
my_list

['라', '다', '나', '가']

In [128]:
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

라 다
다 나
나 가

In [129]:
my_list = ["가", "나", "다", "라"]

In [130]:
print(my_list[3], my_list[2])
print(my_list[2], my_list[1])
print(my_list[1], my_list[0])

라 다
다 나
나 가

In [131]:
for i in [3,2,1]:
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [133]:
for i in [2,1,0]:
    print(my_list[i+1], my_list[i])

라 다
다 나
나 가

In [134]:
for i in [0,1,2]:
    print(my_list[3-i], my_list[2-i])

라 다
다 나
나 가

In [137]:
for i in range(len(my_list)-1,0,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [139]:
for i in range(len(my_list)-1):
    print(my_list[len(my_list)-1-i], my_list[len(my_list)-2-i])

라 다
다 나
나 가

## 178
리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

In [140]:
my_list = [100, 200, 400, 800]

예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

100  
200  
400

In [142]:
print(abs(my_list[1]-my_list[0]))
print(abs(my_list[2]-my_list[1]))
print(abs(my_list[3]-my_list[2]))

100
200
400

In [143]:
for i in [0,1,2]:
    print(abs(my_list[i+1]- my_list[i]))

100
200
400

In [145]:
for i in range(len(my_list)-1):
    print(abs(my_list[i+1]-my_list[i]))

100
200
400

## 179
리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.

In [147]:
my_list = [100, 200, 400, 800, 1000, 1300]

첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

233.33333333333334  
466.6666666666667  
733.3333333333334  
1033.3333333333333

In [148]:
print(abs(my_list[0]+my_list[1]+my_list[2])/3)
print(abs(my_list[1]+my_list[2]+my_list[3])/3)
print(abs(my_list[2]+my_list[3]+my_list[4])/3)
print(abs(my_list[3]+my_list[4]+my_list[5])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [149]:
for i in [1,2,3,4]:
    print(abs(my_list[i-1]+my_list[i]+my_list[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [150]:
for i in range(1, len(my_list)-1):
    print(abs(my_list[i-1]+my_list[i]+my_list[i+1])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

## 180
리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

In [152]:
low_prices  = [100, 200, 400, 800, 1000]  
high_prices = [150, 300, 430, 880, 1000]

In [155]:
volatility = []

for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])

## 181
아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

101호	102호  
201호	202호  
301호	302호

In [157]:
apart = [["101호","102호"],["201호","202호"],["301호","302호"]]

## 182
아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

시가|	종가
---|---
100|	80
200|	210
300|	330

In [159]:
stock = [["시가",100,200,300],["종가",80,210,330]]

## 183
아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

시가	|종가
---|---
100	|80
200	|210
300	|330

In [160]:
stock = {"시가":[100,200,300],"종가":[80,210,330]}

## 184
아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

10/10	|80	|110	|70	|90
--|--|--|--|--
10/11	|210	|230	|190	|200

In [161]:
stock = {"10/10":[80,110,70,90],"10/11":[210,230,190,200]}

## 185
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [163]:
apart = [ [101, 102], [201, 202], [301, 302] ]

101 호  
102 호  
201 호  
202 호  
301 호  
302 호

In [164]:
for row in apart:
    for col in row:
        print(col,"호")

101 호
102 호
201 호
202 호
301 호
302 호

## 186
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [165]:
apart = [ [101, 102], [201, 202], [301, 302] ]

301 호  
302 호  
201 호  
202 호  
101 호  
102 호

In [168]:
for row in apart[::-1]:
    for col in row:
        print(col,"호")

301 호
302 호
201 호
202 호
101 호
102 호

## 187
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [169]:
apart = [ [101, 102], [201, 202], [301, 302] ]

302 호  
301 호  
202 호  
201 호  
102 호  
101 호

In [172]:
for row in apart[::-1]:
    for col in row[::-1]:
        print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

## 188
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [173]:
apart = [ [101, 102], [201, 202], [301, 302] ]

In [ ]:
101 호   
-----  
102 호   
-----  
201 호  
-----  
202 호   
-----   
301 호   
-----  
302 호   
-----

In [176]:
for row in apart:
    for col in row:
        print(col,"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

## 189
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [177]:
apart = [ [101, 102], [201, 202], [301, 302] ]

In [ ]:
101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [179]:
for row in apart:
    for col in row:
        print(col,"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

## 190
리스트에 저장된 데이터를 아래와 같이 출력하라.

In [180]:
apart = [ [101, 102], [201, 202], [301, 302] ]

In [ ]:
101 호
102 호
201 호
202 호
301 호
302 호
-----

In [182]:
for row in apart:
    for col in row:
        print(col,"호")
print("-"*5)

101 호
102 호
201 호
202 호
301 호
302 호
-----

## 191
data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.

In [183]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.

2000.28  
3050.427  
2050.2870000000003  
...

In [193]:
for line in data:
    for column in line:
        print(column*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [195]:
for line in data:
    for column in line:
        print(column+(column*0.00014))

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

## 192
191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

In [ ]:
2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [196]:
for line in data:
    for column in line:
        print(column*1.00014)
    print("-"*4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

## 193
192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

 print(result)  
[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, ...]

In [199]:
result = []
for line in data:
    for column in line:
        result.append(column*0.00014)
print(result)

[0.27999999999999997, 0.42699999999999994, 0.287, 0.2772, 1.0499999999999998, 0.287, 0.287, 0.2772, 2.163, 2.1069999999999998, 2.1769999999999996, 2.086]

## 194
191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

print(result)  

[
 [2000.28, 3050.427, 2050.2870000000003, 1980.2772],
 [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086000000001]
]

In [201]:
result=[]
for line in data:
    sub = []
    for column in line:
        sub.append(column*1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

## 195
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.

In [202]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

100  
190  
310

In [206]:
for row in ohlc[1:]:
    print(row[3])

100
190
310

## 196
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 150원보다 큰경우에만 종가를 출력하라.

In [207]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

190  
310

In [211]:
for row in ohlc[1:]:
    if (row[3] > 150):
        print(row[3])

190
310

## 197
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

In [212]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

100  
310

In [222]:
for row in ohlc[1:]:
    if (row[3]>= row[0]):
        print (row[3])

100
310

## 198
ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

In [223]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

print(volatility)  
[40, 30, 10]

In [224]:
volatility = []

for row in ohlc[1:]:
    volatility.append(row[1]-row[2])

In [225]:
print(volatility)

[40, 30, 10]

## 199
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

In [226]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

종가가 시가보다 높은 거래일의 OHLC는 [300, 310, 300, 310] 이다. 따라서 이 거래일의 변동성은 10 (310 - 300)이다.

10

In [230]:

for row in ohlc[1:]:
    if (row[3]>row[0]):
        print((row[1]-row[2]))

10

## 200
리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

In [231]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

1일차 수익 0원 (100 - 100), 2일차 수익 -10원 (190 - 200), 3일차 수익 10원 (310 - 300) 이다.

0

In [238]:
for row in ohlc[1:]:
    print(row[3]-row[0])

0
-10
10

In [233]:
profit = 0
for row in ohlc[1:]:
    profit +=(row[3]-row[0])

In [235]:
profit

0