# 파이썬 300제 풀어보기 
https://wikidocs.net/7014

In [69]:
import pandas as pd
import numpy as np

## 파이썬 시작하기
print 함수와 관련된 문제 풀어보기

###  print 기초

In [3]:
# 화면에 Hello World 문자열을 출력하세요

print('Hello World')
print("Hello World")

Hello World
Hello World

###  print 기초

In [88]:
# Mary's cosmetics를 출력하세요.(중간에 '가 있음을 주의하세요)

print("Mary's cosmetics")

Mary's cosmetics

###  print 기초

In [5]:
# 아래 문장을 출력하세요 (중가에 "가 있음에 주의하세요)
# 신씨가 소리 질렀다. "도둑이야".

print('신씨가 소리 질렀다. "도둑이야".')

신씨가 소리 질렀다. "도둑이야".

###  print 기초

In [90]:
# 화면에 "C:\Windows"를 출력하세요.

print("C:\Windows")

C:\Windows

###  print 탭과 줄바꿈

In [92]:
# 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.
# print("안녕하세요.\n만나서\t\t반갑습니다.")

print("안녕하세요.\n만나서\t\t반갑습니다.")

#n의 경우 줄바꿈
#t#t의 경우 탭

안녕하세요.
만나서		반갑습니다.

###  print 여러 데이터 출력

In [8]:
# print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.
# print ("오늘은", "일요일")
print ("오늘은", "일요일")

# 여러값을 출력하려면 print 함수에서 쉼표로 구분해주면 된다.
# 따라서 오늘은 다음에 공백이 하나있고 일요일이 출력된다.

오늘은 일요일

### 007 print 기초

In [11]:
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung

print("naver","kakao","samsung", sep=";")

#print 함수의 sep 인자로 ";"를 입력하면 출력되는 값들 사이에 한 칸의 공백대신 세미콜론이 출력됩니다.

naver;kakao;samsung

###  print 기초

In [12]:
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver/kakao/sk/samsung

print("naver","kakao","samsung", sep="/")

naver/kakao/samsung

### print 줄바꿈

In [95]:
# 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. 
#(힌트: end='') print 함수는 두 번 사용합니다. 
#세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

# print("first");print("second")

print("first", end="");print("second")

firstsecond

### 연산 결과 출력

In [18]:
# 5/3의 결과를 화면에 출력하세요.

print(5/3)

1.6666666666666667

## 파이썬 변수
파이썬 변수는 자주 사용되는 값을 바인딩합니다. 파이썬 변수의 개념을 이해하고 문제 풀어보기

### 변수 사용하기

In [19]:
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

### 변수 사용하기

In [20]:
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

항목|값
-----|-------
시가총액|298조
현재가|50,000원
PER|15.79

In [21]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

### 문자열 출력

In [23]:
# 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"
# 두 변수를 이용하여 아래와 같이 출력해보세요.

# 실행 예:
# hello! python

In [26]:
print(s+"!",t)

hello! python

### 파이썬을 이용한 값 계산

In [27]:
# 아래 코드의 실행 결과를 예상해보세요.

2 + 2 * 3

8

### type 함수

In [30]:
# type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

In [31]:
a = 128
print(type(a))

<class 'int'>

In [32]:
# 아래 변수에 바인딩된 값의 타입을 판별해보세요.

# >> a = "132"   ==> 'str' 일것이다. ""로 표시해서 문자로인식

a="132"
print(type(a))

<class 'str'>

### 문자열을 정수로 변환

In [36]:
# 문자열 '720'를 정수형으로 변환해보세요.

# num_str = "720"

num_str = "720"

num_int = int(num_str)
print(num_int+1), type(num_int)

721

(None, int)

### 정수를 문자열 100으로 변환

In [37]:
# 정수 100을 문자열 '100'으로 변환해보세요.

num = 100

In [39]:
result = str(num)
print(result, type(num_str))

100 <class 'str'>

### 문자열을 실수로 변환

In [42]:
# 문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

a = 15.79

a_float = float(a)
print(a, type(a_float))

15.79 <class 'float'>

### 문자열을 정수로 변환

In [44]:
# year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"

sus = int(year)

print(sus-3)
print(sus-2)
print(sus-1)

2017
2018
2019

In [45]:
# 풀이
year = "2020"

sus = int(year)

print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

### 파이썬 계산

In [47]:
# 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

월금액 = 48584
할부 = 36
총금액 = 월금액 * 할부

print(총금액)

1749024

In [48]:
월금액 = 48584
할부 = 36


print(월금액 * 할부)

1749024

In [49]:
# 풀이
월금액 = 48584
총금액 = 월금액 * 36

print(총금액)

1749024

## 파이썬 문자열
파이썬 문자열은 인덱싱, 슬라이싱 기능과 다양한 메서드를 제공합니다.

### 문자열 인덱싱

In [ ]:

# letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.

>> letters = 'python'
실행 예
p t

In [56]:
lang = 'python'

print(lang[0], lang[2])

p t

### 문자열 슬라이싱

In [ ]:
# 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.

>> license_plate = "24가 2210"
실행 예: 2210

In [60]:
license_plate = "24가 2210"

print(license_plate[4:8])

2210

In [62]:
# 문자열에서 여러 글자를 가져오는 것을 슬라이싱이라고 부릅니다. 
#음수 값은 문자열의 뒤에서부터 인덱싱 또는 슬라이싱함을 의미합니다. 
#슬라이싱에서 시작 인덱스를 생락혀면 0으로 간주하고 끝 인덱스를 생략하면 
#문자열의 끝을 의미합니다.
print(license_plate[-4:])

2210

### 문자열 인덱싱

In [ ]:
# 아래의 문자열에서 '홀' 만 출력하세요.

>> string = "홀짝홀짝홀짝"
실행 예:
홀홀홀

In [63]:
string = "홀짝홀짝홀짝"

print(string[::2])

# 슬라이싱할 때 시작인덱스:끝인덱스:오프셋을 지정할 수 있습니다.

홀홀홀

### 문자열 슬라이싱

In [ ]:
# 문자열을 거꾸로 뒤집어 출력하세요.

>> string = "PYTHON"
실행 예:
NOHTYP

In [64]:
string = "PYTHON"

print(string[::-1])

NOHTYP

In [78]:
print (string [3:0:-1])  # 3번 인덱스부터 1번 인덱스까지(0번 까지가 아님) 역순으로 출력
print (string [3::-1])   #3번 인덱스부터 0번 인덱스까지 역순으로 출력
print (string [4::-1])

HTY
HTYP
OHTYP

In [79]:
print (string[4::-1]) # 4번 인덱스가 마지막 인덱스라면 생략 가능 
print (string[::-1])   # 전체 문자열을 역순으로 출력

OHTYP
NOHTYP

In [80]:
# 문자열 뿐만 아니라 리스트나 튜플에도 적용 가능

l  = ['a','b','c','d','e']
print(l[::-1])


t  = ('a','b','c','d','e')
print(t[::-1])

['e', 'd', 'c', 'b', 'a']
('e', 'd', 'c', 'b', 'a')

In [65]:
# 다른 방법 - For 문을 통한 해결

s_reverse = ''  # 기존 문자열을 역순으로 담아줄 빈 문자열 선언

for char in string:
    s_reverse = char + s_reverse # 기존 문자열에서 문자를 차례대로 가져와 앞뒤 순서 바꿈
    
print(s_reverse)

NOHTYP

In [72]:
# 다른 방법 - 파이썬 제공 함수 사용 'reverse'

s_list = list(string)  #reverse 함수를 사용하기 위해 문자열 list로 치환
s_list.reverse()  #reverse 함수를 사용해 문자열 리스트를 거꾸로 뒤집음

NOHTYP

In [67]:
s_list

['N', 'O', 'H', 'T', 'Y', 'P']

In [73]:
print(''. join(s_list))  # 거꾸로 뒤집어진 리스트를 연결해서 출력

NOHTYP

In [75]:
# 다른 방법 - 파이썬 제공 함수 사용 'reversed'
# reversed는 reverse완느 달리 문자열에도 바로 적용이 가능하므로, (reverse는 list에만 사용가능)
# reversed(s)를 통해 문자열을 거꾸로 뒤집은 후 join으로 연결해 바로 출력

print(''.join(reversed(string)))

NOHTYP

### 문자열 치환

In [ ]:
# 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.

>> phone_number = "010-1111-2222"
실행 예
010 1111 2222

In [81]:
phone_number = "010-1111-2222"

In [82]:
phone_number1 = phone_number.replace("-"," ")
print(phone_number1)

010 1111 2222

In [ ]:
# 파이썬 문자열에서 replace 메서드를 사용하면 문자열을 일부를 치환할 수 있습니다. 문자열은 수정할 수 없는 자료형이므로 기존 문자열은 그대로 두고 치환된 새로운 문자열이 리턴됩니다.

### 문자열 다루기

In [ ]:
# 25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예
01011112222

In [83]:
phone_number2 = phone_number.replace("-","")
print(phone_number2)

01011112222

### 문자열 다루기

In [ ]:
# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

>> url = "http://sharebook.kr"
실행 예:
kr

In [86]:
url = "http://sharebook.kr"

url_split = url.split('.')
print(url_split[-1])

kr

### 문자열은 immutable

In [87]:

# 아래 코드의 실행 결과를 예상해보세요.

lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [ ]:
#문자열은 수정할 수 없습니다. 실행 결과를 확인해보면 문자열이 할당(assignment) 메서드를 지원하지 않음을 알 수 있다.

### replace 메서드

In [ ]:
# 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

>> string = 'abcdfe2a354a32a'
실행 예:
Abcdfe2A354A32A

In [102]:
string = 'abcdfe2a354a32a'

string = string.replace('a','A')

print(string)

Abcdfe2A354A32A

### replace 매서드

In [ ]:
# 아래 코드의 실행 결과를 예상해시오
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

In [ ]:
그대로 출력

In [103]:
string = 'abcd'
string.replace('b','B')
print(string)

abcd

In [ ]:
# 그대로 출력된다. 왜냐하면 문자열은 변경할 수 없는 자료형이기 때문이다.
# replace 매서드를 사용하면 원본은 그대로 둔채로 변경된 새로운 문자열 객체를 리턴해준다.

In [105]:
s = string.replace('b','B')

print(s)

aBcd

###  문자열 합치기

In [ ]:
아래 코드의 실행 결과를 예상해보세요.

>> a = "3"
>> b = "4"
>> print(a + b)

In [ ]:
예상: 34

In [106]:
a = "3"
b = "4"
print(a + b)

34

### 문자열 곱하기

In [ ]:
아래 코드의 실행 결과를 예상해보세요.

>> print("Hi" * 3)

In [ ]:
예상: HiHiHi

In [107]:
print("Hi"*3)

HiHiHi

### 문자열 곱하기

In [ ]:
화면에 '-'를 80개 출력하세요.

실행 예:
--------------------------------------------------------------------------------

In [108]:
print('-'*80)

--------------------------------------------------------------------------------

### 문자열 곱하기

In [ ]:
변수에 다음과 같은 문자열이 바인딩되어 있습니다.

>>> t1 = 'python'
>>> t2 = 'java'
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:
python java python java python java python java

In [113]:
t1 = 'python'
t2 = 'java'


t3 = t1 + ' ' + t2 + ' ' 
print(t3 *4)

python java python java python java python java

### 문자열 출력 ( %, formatting)

In [ ]:
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13


이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [115]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print (name1, type(name1))
print (age1, type(age1))

In [123]:
print(("이름: {}" .format(name1))+' ' +("나이: {}".format(age1)))
print(("이름: {}" .format(name2))+' ' +("나이: {}".format(age2)))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [126]:
#풀이
print("이름: %s 나이:%d"% (name1, age1))
print("이름: %s 나이:%d"% (name2, age2))

#print 포맷팅에서 %s는 문자열 데이터 타입의 값을 %d는 정수형 데이터 타입 값의 출력을 의미합니다.

이름: 김민수 나이:10
이름: 이철희 나이:13

formatting이란 문자열을 더 잘 표현하기 위한 방법이다.

**1. %-formatting**

- % 연산자 사용하는 경우이다. 문자열에 숫자, 문자열을 대입할 수 있ㄱ, %d  %f  %s등이 사용된다.
언어 초반에 상용되었으며, C언어에서 사용되는 방법으로 이 스타일을 c언어 스타일이라고도 한다.
코드가 길어질수록 지저분해 보이기 때문에 많이 사용되는 방법은 아니다.

In [128]:
# s% : 문자열을 대입할 때 사용한다.

my_str = 'My name is %s' % 'Jay'
my_str

'My name is Jay'

In [ ]:
# d%  : 정수형 숫자를 대입할 때 사용한다. 여러 값을 넣을 때는 괄효()를 이용한다. 
# (문자열에 숫자를 대입하는 것이기 때문에 문자열에 꼭 따옴표('',"")를 붙여줘야한다.)

In [131]:
'%d %d'%(1,2)

'1 2'

In [132]:
# f% : 실수형 숫자를 대입할 때 사용한다
"%f" % 3.14

'3.140000'

**2. '{}'.format()**

- str.format()이라고도 한다. 1.%formatting과 결과는 같지만 좀 더 파이썬스러운 방법이다. 중괄효{}를 사용하는 방법으로, .format() 괄호안에 중괄호에 대입할 문자나 숫자를 입력한다.

In [133]:
"My name is {}" .format('Jay')

'My name is Jay'

여러개를 대입하는 것도 가능

In [134]:
'{} * {} = {}'.format(2,3,2*3)

'2 * 3 = 6'

중괄호{}에 들어갈 순서 지정도 가능하다.(%-formatting에선 불가능하다)

In [135]:
'{1} * {0} = {2}'.format(2,3,2*3)

'3 * 2 = 6'

**3. f-strings**

- 새로운 python 문자열(strings) formatting 방법이다. 2.'{}'.format()과 사용이 비슷하지만 훨씬 코드가 깔끔하다.
- 먼저 변수값에 값을 대입한 후, 중괄호{}에 변수명을 넣는다. 이때 중괄호가 들어가는 코드 처음에 f를 입력한다. 대문자 F도 가능하다.

In [136]:
name = 'Jay'
age = 28

f"Hello, {name}. You are {age}."  #f 입력이 포인트

'Hello, Jay. You are 28.'

In [137]:
F"Hello, {name}. You are {age}."

'Hello, Jay. You are 28.'

문자 뿐만 아니라 숫자, 함수, 메소드 등 다양한 타입을 넣을 수 있다.

In [139]:
# 숫자
f"{2*37}"

'74'

In [140]:
# 함수
def to_lowercase(input):
    return input.lower()

name = "Eric Idle"
f"{to_lowercase(name)} is funny."

'eric idle is funny.'

In [141]:
# 메소드 : 메소드는 함수와 비슷하다. 클래스에 묶여서 인스턴스와 관계된 일을 한다.
f"{name.lower()} is funny."

'eric idle is funny.'

### 문자열 출력

In [ ]:
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [143]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

### 문자열 출력

In [ ]:
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [147]:
print(f"이름: {name1} 나이: {age1}.")
print(f"이름: {name2} 나이: {age2}.")

이름: 김민수 나이: 10.
이름: 이철희 나이: 13.

### 컴마 제거하기

In [148]:
# 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

# 상장주식수 = "5,969,782,550"

In [150]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",","")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

### 문자열 슬라이싱

In [156]:
#다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [157]:
print(분기[:7])

2020/03

### strip 메서드

In [158]:
#문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [161]:
data.strip()

'삼성전자'

문자열에서 strip( ) 메서드를 사용하면 좌우의 공백을 제거할 수 있습니다. 이때 원본 문자열은 그대로 유지되고 공백이 제거된 새로운 문자열이 반환됩니다.

### upper 메서드

In [162]:
# 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

In [163]:
print(ticker.upper())

BTC_KRW

###  lower 메서드

In [164]:
#다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

In [165]:
print(ticker.lower())

btc_krw

### capitalize 메서드

In [170]:
# 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

a = 'hello'
a. capitalize()

'Hello'

### endswith 메서드

In [171]:
# 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [174]:
file_name.endswith('xlsx')

True

### endswith 메서드

In [175]:
#파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [180]:
file_name.endswith(("xlsx","xls"))

True

### startswith 메서드

In [181]:
#파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

In [183]:
file_name.startswith("2020")

True

### split 메서드

In [184]:
#다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"

In [185]:
a.split(" ")

['hello', 'world']

###  split 메서드

In [186]:
#다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

In [187]:
ticker.split("_")

['btc', 'krw']

### split 메서드

In [188]:
#다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

In [189]:
date.split("-")

['2020', '05', '01']

###  rstrip 메서드

In [190]:
#문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "

In [191]:
data.rstrip()

'039490'

rstrip() 메서드를 사용하면 오른쪽 공백이 제거된 새로운 문자열 객체가 반환됩니다. 그 값을 data라는 변수가 새로 바인딩합니다. 기존의 공백이 포함된 문자열은 메모리에서 자동으로 삭제됩니다

In [192]:
num = "     55555"

In [195]:
num.lstrip()

'55555'